body {
    position:relative;
}
#canvas {
    border:1px solid #8BC34A;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image:url("grid50.png");
    background-size:100%;
}